<ng-container *ngIf="booking && !hadLoadError">
  <h1 *ngIf="!isCreateMode">Update/Amend booking details for {{carrierBookingRequestReference}}</h1>
  <h1 *ngIf="isCreateMode">New booking request</h1>
  <form #bookingForm="ngForm">
    <p-accordion [multiple]="true">
      <ng-container ngModelGroup="mandatoryDetails" #mandatoryDetailsControl="ngModelGroup">
        <p-accordionTab [selected]="isCreateMode">
          <ng-template pTemplate="header">
            <app-validity-marker [controlStatus]="mandatoryDetailsControl">
            </app-validity-marker>
            Mandatory details [Required]
          </ng-template>

          <div class="row">
            <label for="receiptTypeAtOrigin">Receipt Type At Origin: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.receiptTypeAtOrigin"
                        id="receiptTypeAtOrigin"
                        name="receiptTypeAtOrigin"
                        [values$]="receiptTypeAtOriginValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="cargoMovementTypeAtOrigin">Cargo Movement Type At Origin: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.cargoMovementTypeAtOrigin"
                        id="cargoMovementTypeAtOrigin"
                        name="cargoMovementTypeAtOrigin"
                        [values$]="cargoMovementTypeAtOriginValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="deliveryTypeAtDestination">Delivery Type At Destination: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.deliveryTypeAtDestination"
                        id="deliveryTypeAtDestination"
                        name="deliveryTypeAtDestination"
                        [values$]="deliveryTypeAtDestinationValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="cargoMovementTypeAtDestination">Cargo Movement Type At Destination: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.cargoMovementTypeAtDestination"
                        id="cargoMovementTypeAtDestination"
                        name="cargoMovementTypeAtDestination"
                        [values$]="cargoMovementTypeAtDestinationValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="communicationChannelCode">Communication Channel Code: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.communicationChannelCode"
                        id="communicationChannelCode"
                        name="communicationChannelCode"
                        [values$]="communicationChannelCodeValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="isPartialLoadAllowed">Is Partial Load Allowed? </label>
            <p-checkbox [required]="true"
                        [binary]="true"
                        [(ngModel)]="booking.isPartialLoadAllowed"
                        id="isPartialLoadAllowed"
                        name="isPartialLoadAllowed">
            </p-checkbox>
          </div>
          <div class="row">
            <label for="isExportDeclarationRequired">Is Export Declaration Required? </label>
            <p-checkbox [required]="true"
                        [binary]="true"
                        [(ngModel)]="booking.isExportDeclarationRequired"
                        id="isExportDeclarationRequired"
                        name="isExportDeclarationRequired">
            </p-checkbox>
          </div>
          <div class="row">
            <label for="isImportLicenseRequired">Is Import License Required? </label>
            <p-checkbox [required]="true"
                        [binary]="true"
                        [(ngModel)]="booking.isImportLicenseRequired"
                        id="isImportLicenseRequired"
                        name="isImportLicenseRequired">
            </p-checkbox>
          </div>
          <div class="row">
            <label for="isEquipmentSubstitutionAllowed">Is Equipment Substitution Allowed? </label>
            <p-checkbox [required]="true"
                        [binary]="true"
                        [(ngModel)]="booking.isEquipmentSubstitutionAllowed"
                        id="isEquipmentSubstitutionAllowed"
                        name="isEquipmentSubstitutionAllowed">
            </p-checkbox>
          </div>
        </p-accordionTab>
      </ng-container>
      <ng-container ngModelGroup="contractOrQuotationReference" #contractOrQuotationReferenceControl="ngModelGroup">
        <p-accordionTab [selected]="isCreateMode">
          <ng-template pTemplate="header">
            <app-validity-marker [controlStatus]="contractOrQuotationReferenceControl">
            </app-validity-marker>
            Service Contract or Quotation reference [Required]
          </ng-template>
          <p><i>At least one of these must be provided</i></p>
          <div class="row">
            <label for="contractQuotationReference">Contract Quotation Reference: </label>
            <input type="text"
                   maxlength="35"
                   [(ngModel)]="booking.contractQuotationReference"
                   nullValue
                   pInputText
                   [required]="!booking.serviceContractReference"
                   id="contractQuotationReference"
                   name="contractQuotationReference">
          </div>
          <div class="row">
            <label for="serviceContractReference">Service Contract Reference: </label>
            <input type="text"
                   maxlength="30"
                   [(ngModel)]="booking.serviceContractReference"
                   nullValue
                   pInputText
                   [required]="!booking.contractQuotationReference"
                   matInput
                   id="serviceContractReference"
                   name="serviceContractReference">
          </div>
        </p-accordionTab>
      </ng-container>
      <ng-container ngModelGroup="arrivalDepartureDetailsControl" #arrivalDepartureDetailsControl="ngModelGroup">
        <p-accordionTab [selected]="isCreateMode">
          <ng-template pTemplate="header">
            <app-validity-marker [controlStatus]="arrivalDepartureDetailsControl">
            </app-validity-marker>
            Arrival/Departure details [Required]
          </ng-template>
          <p><i>At least one of these must be provided</i></p>
          <div class="row">
            <label for="expectedDepartureDate">Expected Departure date: </label>
            <input id="expectedDepartureDate"
                   name="expectedDepartureDate"
                   pInputText
                   [(ngModel)]="booking.expectedDepartureDate"
                   [required]="!booking.vesselIMONumber && !booking.carrierExportVoyageNumber && !booking.expectedArrivalAtPlaceOfDeliveryEndDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                   type="date">
          </div>
          <div class="row">
            <fieldset>
              <legend>Expected Arrival At Place Of Delivery</legend>
              <label for="expectedArrivalAtPlaceOfDeliveryStartDate">Start Date: </label>
              <input id="expectedArrivalAtPlaceOfDeliveryStartDate"
                     name="expectedArrivalAtPlaceOfDeliveryStartDate"
                     pInputText
                     [(ngModel)]="booking.expectedArrivalAtPlaceOfDeliveryStartDate"
                     [required]="!booking.vesselIMONumber && !booking.carrierExportVoyageNumber && !booking.expectedDepartureDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                     type="date">
              <br>
              <label for="expectedArrivalAtPlaceOfDeliveryEndDate">End Date: </label>
              <input id="expectedArrivalAtPlaceOfDeliveryEndDate"
                     name="expectedArrivalAtPlaceOfDeliveryEndDate"
                     pInputText
                     [(ngModel)]="booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                     [required]="!booking.vesselIMONumber && !booking.carrierExportVoyageNumber && !booking.expectedDepartureDate && !booking.expectedArrivalAtPlaceOfDeliveryStartDate"
                     type="date">
            </fieldset>
          </div>

          <div class="row">
            <label for="carrierExportVoyageNumber">Carrier Export Voyage Number: </label>
            <input id="carrierExportVoyageNumber"
                   name="carrierExportVoyageNumber"
                   pInputText
                   maxlength="50"
                   [(ngModel)]="booking.carrierExportVoyageNumber"
                   [required]="!booking.vesselIMONumber && !booking.expectedDepartureDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                   type="text">
          </div>

          <div class="row">
            <label for="vesselIMONumber">Vessel IMO Number: </label>
            <input id="vesselIMONumber"
                   name="vesselIMONumber"
                   pInputText
                   placeholder="1234567"
                   [(ngModel)]="booking.vesselIMONumber"
                   [required]="!booking.carrierExportVoyageNumber && !booking.expectedDepartureDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                   appVesselIMONumber
                   nullValue
                   type="text">
          </div>
        </p-accordionTab>
      </ng-container>
      <ng-container ngModelGroup="miscOptionalAttributeControl" #miscOptionalAttributeControl="ngModelGroup">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <app-validity-marker [controlStatus]="miscOptionalAttributeControl">
            </app-validity-marker>
            Misc Attributes [Optional]
          </ng-template>
          <div class="row">
            <label for="carrierServiceCode">Carrier Service Code: </label>
            <input id="carrierServiceCode"
                   name="carrierServiceCode"
                   pInputText
                   maxlength="11"
                   [(ngModel)]="booking.carrierServiceCode"
                   type="text">
          </div>
          <div class="row">
            <label for="carrierServiceName">Carrier Service Name: </label>
            <input id="carrierServiceName"
                   name="carrierServiceName"
                   pInputText
                   maxlength="50"
                   [(ngModel)]="booking.carrierServiceName"
                   type="text">
          </div>
          <div class="row">
            <label for="universalExportVoyageReference">Universal Export Voyage Reference: </label>
            <input id="universalExportVoyageReference"
                   name="universalExportVoyageReference"
                   pInputText
                   placeholder="2201E"
                   pattern="\d{2}[0-9A-Z]{2}[NEWS]"
                   [(ngModel)]="booking.universalExportVoyageReference"
                   type="text">
          </div>

          <div class="row">
            <label for="vesselName">Vessel Name: </label>
            <input id="vesselName"
                   name="vesselName"
                   maxlength="35"
                   pInputText
                   [(ngModel)]="booking.vesselName"
                   nullValue
                   type="text">
          </div>
        </p-accordionTab>
      </ng-container>
      <p-accordionTab [disabled]="!booking">
        <ng-template pTemplate="header">
          <app-validity-marker [controlStatus]="placeOfBLIssueControl">
          </app-validity-marker>
          Place of BL Issue [Optional]
        </ng-template>
        <app-edit-location [(ngModel)]="booking.placeOfBLIssue"
                           #placeOfBLIssueControl="ngModel"
                           [enableFacility]="false"
                           name="placeOfBLIssue">

        </app-edit-location>
      </p-accordionTab>
      <p-accordionTab [disabled]="!booking">
        <ng-template pTemplate="header">
          <app-validity-marker [controlStatus]="invoicePayableAtControl">
          </app-validity-marker>
          Invoice Payable At [Optional]
        </ng-template>
        <app-edit-location [(ngModel)]="booking.invoicePayableAt"
                           #invoicePayableAtControl="ngModel"
                           [enableFacility]="false"
                           name="invoicePayableAt">

        </app-edit-location>
      </p-accordionTab>
      <ng-container ngModelGroup="commodities" #commodityListControl="ngModelGroup">
        <p-accordionTab [disabled]="!booking" [selected]="isCreateMode">
          <ng-template pTemplate="header">
            <app-validity-marker [controlStatus]="commodityListControl">
            </app-validity-marker>
            Commodities ({{this.booking.commodities.length}}) [Required]
          </ng-template>
          <ng-container *ngFor="let commodity of this.booking.commodities; index as i"
                        ngModelGroup="commodities[{{i}}]" #commodityControl="ngModelGroup">

            <p-accordionTab [(selected)]="commoditiesSelected[i]">
              <ng-template pTemplate="header">
                <app-validity-marker [controlStatus]="commodityControl">
                </app-validity-marker>
                   {{!commodityControl.valid ? '[INVALID] ' : ''}}{{!!commodity.commodityType ? commodity.commodityType : 'Missing commodity type!' }}
                <button pButton
                        appDebounceClick
                        [disabled]="booking.commodities.length < 2"
                        class="p-button-danger tab-header-discard-button"
                        [debounceTime]="200"
                        icon="pi pi-trash"
                        (debounceClick)="removeCommodity(i, commodityControl)">
                </button>
              </ng-template>

              <app-edit-commodity [initialCommodity]="commodity">
              </app-edit-commodity>

              <div class="row">
                <button pButton
                        appDebounceClick
                        label="Close tab"
                        class="p-button-secondary"
                        [debounceTime]="200"
                        (debounceClick)="commoditiesSelected[i] = false">
                </button>
              </div>
            </p-accordionTab>
          </ng-container>

          <button appDebounceClick
                  pButton
                  (debounceClick)="addCommodity()"
                  [debounceTime]="200"
                  iconPos="left"
                  icon="pi pi-plus"
                  class="p-button-secondary"
                  label="Add commodity">
          </button>
        </p-accordionTab>
      </ng-container>

      <ng-container ngModelGroup="references" #referencesListControl="ngModelGroup">
        <p-accordionTab [disabled]="!booking">
          <ng-template pTemplate="header">
            <app-validity-marker [controlStatus]="referencesListControl">
            </app-validity-marker>
            References ({{this.booking.references?.length ?? 0}}) [Optional]
          </ng-template>

          <div *ngFor="let reference of this.booking.references; index as i"
               ngModelGroup="references[{{i}}]" #referenceControl="ngModelGroup">
            <p-accordionTab [selected]="referencesSelected[i]">

              <ng-template pTemplate="header">
                <app-validity-marker [controlStatus]="referenceControl">
                </app-validity-marker>
                {{!referenceControl.valid ? '[INVALID] ' : ''}}{{!!reference.type ? reference.type : '[Missing type]'}} {{!!reference.value ? reference.value : '[Missing value]'}}
                <button pButton
                        appDebounceClick
                        class="p-button-danger tab-header-discard-button"
                        [debounceTime]="200"
                        icon="pi pi-trash"
                        (debounceClick)="removeReference(i, referenceControl)">
                </button>
              </ng-template>

              <div class="row">
                <label for="references[{{i}}].type">Reference type: </label>
                <p-dropdown [required]="true"
                            [(ngModel)]="reference.type"
                            id="references[{{i}}].type"
                            name="references[{{i}}].type"
                            [values$]="referenceTypeValues$"
                            appEnumDropDown>
                </p-dropdown>
              </div>
              <div class="row">
                <label for="references[{{i}}].value">Reference: </label>
                <input id="references[{{i}}].value"
                       name="references[{{i}}].value"
                       [(ngModel)]="reference.value"
                       [required]="true"
                       pInputText
                       type="text"
                       maxlength="100">
              </div>

              <div class="row">
                <button pButton
                        appDebounceClick
                        label="Close tab"
                        class="p-button-secondary"
                        [debounceTime]="200"
                        (debounceClick)="referencesSelected[i] = false">
                </button>
              </div>
            </p-accordionTab>
          </div>

          <button appDebounceClick
                  pButton
                  (debounceClick)="addReference()"
                  [debounceTime]="200"
                  icon="pi pi-plus"
                  class="p-button-secondary">
          </button>
        </p-accordionTab>
      </ng-container>

      <ng-container ngModelGroup="shipmentLocations" #shipmentLocationListControl="ngModelGroup">
        <p-accordionTab [disabled]="!booking">
          <ng-template pTemplate="header">
            <app-validity-marker [controlStatus]="shipmentLocationListControl">
            </app-validity-marker>
            Shipment Locations ({{this.booking.shipmentLocations?.length ?? 0}}) [Optional]
          </ng-template>

          <div *ngFor="let shipmentLocation of this.booking.shipmentLocations; index as i"
               ngModelGroup="shipmentLocations[{{i}}]" #shipmentLocationControl="ngModelGroup">
            <p-accordionTab [selected]="shipmentLocationsSelected[i]">

              <ng-template pTemplate="header">
                <app-validity-marker [controlStatus]="shipmentLocationControl">
                </app-validity-marker>
                {{!shipmentLocationControl.valid ? '[INVALID] ' : ''}}{{shipmentLocation.shipmentLocationTypeCode}}
                <button pButton
                        appDebounceClick
                        class="p-button-danger tab-header-discard-button"
                        [debounceTime]="200"
                        icon="pi pi-trash"
                        (debounceClick)="removeShipmentLocation(i, shipmentLocationControl)">
                </button>
              </ng-template>

              <div class="row">
                <label for="shipmentLocations[{{i}}].shipmentLocationTypeCode">Shipment Location Type Code: </label>
                <p-dropdown [required]="true"
                            [(ngModel)]="shipmentLocation.shipmentLocationTypeCode"
                            id="shipmentLocations[{{i}}].shipmentLocationTypeCode"
                            name="shipmentLocations[{{i}}].shipmentLocationTypeCode"
                            [values$]="shipmentLocationTypeCodeNames$"
                            appEnumDropDown>
                </p-dropdown>
              </div>

              <p-accordionTab class="inline-accordionTab">
                <ng-template pTemplate="header">
                  <app-validity-marker [controlStatus]="shipmentLocationLocation">
                  </app-validity-marker>
                  Location [Required]
                </ng-template>
                <app-edit-location [(ngModel)]="shipmentLocation.location"
                                   [required]="true"
                                   #shipmentLocationLocation="ngModel"
                                   name="shipmentLocations[{{i}}].location">

                </app-edit-location>
              </p-accordionTab>

              <div class="row">
                <label for="shipmentLocations[{{i}}].eventDateTime">Event Date Time: </label>
                <p-calendar [(ngModel)]="shipmentLocation.eventDateTime"
                            id="shipmentLocations[{{i}}].eventDateTime"
                            name="shipmentLocations[{{i}}].eventDateTime"
                            [showTime]="true"
                            hourFormat="24"
                            [showClear]="true">
                </p-calendar>
              </div>

              <div class="row">
                <button pButton
                        appDebounceClick
                        label="Close tab"
                        class="p-button-secondary"
                        [debounceTime]="200"
                        (debounceClick)="shipmentLocationsSelected[i] = false">
                </button>
              </div>
            </p-accordionTab>
          </div>

          <button appDebounceClick
                  pButton
                  (debounceClick)="addShipmentLocation()"
                  [debounceTime]="200"
                  icon="pi pi-plus"
                  class="p-button-secondary">
          </button>
        </p-accordionTab>
      </ng-container>
    </p-accordion>

    <p-card>
      <div class="row">
        <app-validity-marker [controlStatus]="bookingForm">
        </app-validity-marker>
        Validation issues: {{bookingForm.valid ? 'None' : 'Errors detected'}}
      </div>
      <div class="row">
        <button appDebounceClick
                pButton
                (debounceClick)="submit()" [debounceTime]="200"
                [disabled]="submissionInProgress || !bookingForm.valid || (bookingForm.pristine ?? false)"
                icon="pi pi-save"
                label="{{isCreateMode ? 'Create' : 'Update/Amend'}}"
                iconPos="left">
        </button>
        <button label="Cancel {{carrierBookingRequestReference ? 'edit' : 'creation'}}"
                pButton
                appDebounceClick
                [disabled]="submissionInProgress"
                (debounceClick)="cancel()"
                icon="pi pi-trash"
                class="p-button-secondary">
        </button>
        <p-progressSpinner *ngIf="submissionInProgress">
        </p-progressSpinner>
      </div>
    </p-card>
  </form>
</ng-container>

<ng-container *ngIf="hadLoadError">
  <p>Sorry, an error occurred while trying to load the data.  In some cases, refreshing may resolve the problem.</p>
</ng-container>

<ng-container *ngIf="!booking && !hadLoadError">
  <p-progressSpinner></p-progressSpinner>
</ng-container>

<p-toast key="GenericSuccessToast" position="bottom-right"></p-toast>
<p-toast key="GenericErrorToast" position="bottom-right"></p-toast>

<p-confirmDialog [transitionOptions]="'0ms'">
</p-confirmDialog>
