<ng-container *ngIf="booking && !hadLoadError">
  <h1 *ngIf="!isCreateMode">Update/Amend booking details for {{carrierBookingRequestReference}}</h1>
  <h1 *ngIf="isCreateMode">New booking request</h1>
  <form #bookingForm="ngForm">
    <p-accordion [multiple]="true">
      <p-accordionTab header="Mandatory details [Required]" [selected]="true">

          <div class="row">
            <label for="receiptTypeAtOrigin">Receipt Type At Origin: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.receiptTypeAtOrigin"
                        id="receiptTypeAtOrigin"
                        name="receiptTypeAtOrigin"
                        [values$]="receiptTypeAtOriginValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="cargoMovementTypeAtOrigin">Cargo Movement Type At Origin: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.cargoMovementTypeAtOrigin"
                        id="cargoMovementTypeAtOrigin"
                        name="cargoMovementTypeAtOrigin"
                        [values$]="cargoMovementTypeAtOriginValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="deliveryTypeAtDestination">Delivery Type At Destination: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.deliveryTypeAtDestination"
                        id="deliveryTypeAtDestination"
                        name="deliveryTypeAtDestination"
                        [values$]="deliveryTypeAtDestinationValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="cargoMovementTypeAtDestination">Cargo Movement Type At Destination: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.cargoMovementTypeAtDestination"
                        id="cargoMovementTypeAtDestination"
                        name="cargoMovementTypeAtDestination"
                        [values$]="cargoMovementTypeAtDestinationValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="communicationChannelCode">Communication Channel Code: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="booking.communicationChannelCode"
                        id="communicationChannelCode"
                        name="communicationChannelCode"
                        [values$]="communicationChannelCodeValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="isPartialLoadAllowed">Is Partial Load Allowed? </label>
            <p-checkbox [required]="true"
                        [binary]="true"
                        [(ngModel)]="booking.isPartialLoadAllowed"
                        id="isPartialLoadAllowed"
                        name="isPartialLoadAllowed">
            </p-checkbox>
          </div>
          <div class="row">
            <label for="isExportDeclarationRequired">Is Export Declaration Required? </label>
            <p-checkbox [required]="true"
                        [binary]="true"
                        [(ngModel)]="booking.isExportDeclarationRequired"
                        id="isExportDeclarationRequired"
                        name="isExportDeclarationRequired">
            </p-checkbox>
          </div>
          <div class="row">
            <label for="isImportLicenseRequired">Is Import License Required? </label>
            <p-checkbox [required]="true"
                        [binary]="true"
                        [(ngModel)]="booking.isImportLicenseRequired"
                        id="isImportLicenseRequired"
                        name="isImportLicenseRequired">
            </p-checkbox>
          </div>
          <div class="row">
            <label for="isEquipmentSubstitutionAllowed">Is Equipment Substitution Allowed? </label>
            <p-checkbox [required]="true"
                        [binary]="true"
                        [(ngModel)]="booking.isEquipmentSubstitutionAllowed"
                        id="isEquipmentSubstitutionAllowed"
                        name="isEquipmentSubstitutionAllowed">
            </p-checkbox>
          </div>
      </p-accordionTab>
      <p-accordionTab header="Service Contract or Quotation reference [Required]" [selected]="true">
        <p><i>At least one of these must be provided</i></p>
          <div class="row">
            <label for="contractQuotationReference">Contract Quotation Reference: </label>
            <input type="text"
                   maxlength="35"
                   [(ngModel)]="booking.contractQuotationReference"
                   nullValue
                   pInputText
                   [required]="!booking.serviceContractReference"
                   id="contractQuotationReference"
                   name="contractQuotationReference">
          </div>
          <div class="row">
            <label for="serviceContractReference">Service Contract Reference: </label>
            <input type="text"
                   maxlength="30"
                   [(ngModel)]="booking.serviceContractReference"
                   nullValue
                   pInputText
                   [required]="!booking.contractQuotationReference"
                   matInput
                   id="serviceContractReference"
                   name="serviceContractReference">
          </div>
      </p-accordionTab>
      <p-accordionTab header="Arrival/Departure details [Required]" [selected]="true">
        <p><i>At least one of these must be provided</i></p>
          <div class="row">
            <label for="expectedDepartureDate">Expected Departure date: </label>
            <input id="expectedDepartureDate"
                   name="expectedDepartureDate"
                   pInputText
                   [(ngModel)]="booking.expectedDepartureDate"
                   [required]="!booking.vesselIMONumber && !booking.carrierExportVoyageNumber && !booking.expectedArrivalAtPlaceOfDeliveryEndDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                   type="date">
          </div>
          <div class="row">
            <fieldset>
              <legend>Expected Arrival At Place Of Delivery</legend>
              <label for="expectedArrivalAtPlaceOfDeliveryStartDate">Start Date: </label>
              <input id="expectedArrivalAtPlaceOfDeliveryStartDate"
                     name="expectedArrivalAtPlaceOfDeliveryStartDate"
                     pInputText
                     [(ngModel)]="booking.expectedArrivalAtPlaceOfDeliveryStartDate"
                     [required]="!booking.vesselIMONumber && !booking.carrierExportVoyageNumber && !booking.expectedDepartureDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                     type="date">
              <br>
              <label for="expectedArrivalAtPlaceOfDeliveryEndDate">End Date: </label>
              <input id="expectedArrivalAtPlaceOfDeliveryEndDate"
                     name="expectedArrivalAtPlaceOfDeliveryEndDate"
                     pInputText
                     [(ngModel)]="booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                     [required]="!booking.vesselIMONumber && !booking.carrierExportVoyageNumber && !booking.expectedDepartureDate && !booking.expectedArrivalAtPlaceOfDeliveryStartDate"
                     type="date">
            </fieldset>
          </div>

          <div class="row">
            <label for="carrierExportVoyageNumber">Carrier Export Voyage Number: </label>
            <input id="carrierExportVoyageNumber"
                   name="carrierExportVoyageNumber"
                   pInputText
                   maxlength="50"
                   [(ngModel)]="booking.carrierExportVoyageNumber"
                   [required]="!booking.vesselIMONumber && !booking.expectedDepartureDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                   type="text">
          </div>

          <div class="row">
            <label for="vesselIMONumber">Vessel IMO Number: </label>
            <input id="vesselIMONumber"
                   name="vesselIMONumber"
                   pInputText
                   placeholder="1234567"
                   [(ngModel)]="booking.vesselIMONumber"
                   [required]="!booking.carrierExportVoyageNumber && !booking.expectedDepartureDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate && !booking.expectedArrivalAtPlaceOfDeliveryEndDate"
                   appVesselIMONumber
                   nullValue
                   type="text">
          </div>
      </p-accordionTab>
      <p-accordionTab header="Optional (simple) attributes">
          <div class="row">
            <label for="carrierServiceCode">Carrier Service Code: </label>
            <input id="carrierServiceCode"
                   name="carrierServiceCode"
                   pInputText
                   maxlength="11"
                   [(ngModel)]="booking.carrierServiceCode"
                   type="text">
          </div>
          <div class="row">
            <label for="carrierServiceName">Carrier Service Name: </label>
            <input id="carrierServiceName"
                   name="carrierServiceName"
                   pInputText
                   maxlength="50"
                   [(ngModel)]="booking.carrierServiceName"
                   type="text">
          </div>
          <div class="row">
            <label for="universalExportVoyageReference">Universal Export Voyage Reference: </label>
            <input id="universalExportVoyageReference"
                   name="universalExportVoyageReference"
                   pInputText
                   placeholder="2201E"
                   pattern="\d{2}[0-9A-Z]{2}[NEWS]"
                   [(ngModel)]="booking.universalExportVoyageReference"
                   type="text">
          </div>

          <div class="row">
            <label for="vesselName">Vessel Name: </label>
            <input id="vesselName"
                   name="vesselName"
                   maxlength="35"
                   pInputText
                   [(ngModel)]="booking.vesselName"
                   nullValue
                   type="text">
          </div>
      </p-accordionTab>
      <p-accordionTab [disabled]="!booking" header="Place of BL Issue [Optional]">

        <app-edit-location [(ngModel)]="booking.placeOfBLIssue"
                           name="placeOfBLIssue">

        </app-edit-location>
      </p-accordionTab>
      <p-accordionTab [disabled]="!booking" header="Invoice Payable At [Optional]">
        <app-edit-location [(ngModel)]="booking.invoicePayableAt"
                           name="invoicePayableAt">

        </app-edit-location>
      </p-accordionTab>
      <p-accordionTab [disabled]="!booking" [selected]="true" header="Commodities ({{this.booking.commodities.length}}) [Required]">
        <p-accordionTab *ngFor="let commodity of this.booking.commodities; index as i"
                        [selected]="true"
                        header="{{!!commodity.commodityType ? commodity.commodityType : 'Missing commodity type!' }}">
          <div class="row">
            <label for="commodities[{{i}}].commodityType">Commodity Type: </label>
            <input id="commodities[{{i}}].commodityType"
                   name="commodities[{{i}}].commodityType"
                   nullValue
                   pInputText
                   [(ngModel)]="commodity.commodityType"
                   [required]="true"
                   type="text"
                   maxlength="550">
            <!-- pattern="^\S+(\s*\S+)*$" -->
          </div>
          <div class="row">
            <label for="commodities[{{i}}].cargoGrossWeight">Cargo Gross Weight: </label>
            <input id="commodities[{{i}}].cargoGrossWeight"
                   name="commodities[{{i}}].cargoGrossWeight"
                   pInputText
                   [(ngModel)]="commodity.cargoGrossWeight"
                   [required]="true"
                   type="number">
            <!--   min="0"
                   pattern="^(?:[1-9]\d*(?:[.]\d+)?|[0].\d*[1-9]\d*)$"
                   -->
            <p-dropdown [required]="true"
                        [(ngModel)]="commodity.cargoGrossWeightUnit"
                        id="commodities[{{i}}].cargoGrossWeightUnit"
                        name="commodities[{{i}}].cargoGrossWeightUnit"
                        [values$]="weightUnitValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>

          <div class="row">
            <label for="commodities[{{i}}].cargoGrossVolume">Cargo Gross Volume: </label>
            <input id="commodities[{{i}}].cargoGrossVolume"
                   name="commodities[{{i}}].cargoGrossVolume"
                   pInputText
                   [(ngModel)]="commodity.cargoGrossVolume"
                   [required]="commodity.cargoGrossVolumeUnit !== undefined && commodity.cargoGrossVolumeUnit !== null"
                   type="number">
            <!-- min="0" pattern="^(?:[1-9]\d*(?:[.]\d+)?|[0].\d*[1-9]\d*)$" -->
            <p-dropdown [(ngModel)]="commodity.cargoGrossVolumeUnit"
                        id="commodities[{{i}}].cargoGrossVolumeUnit"
                        name="commodities[{{i}}].cargoGrossVolumeUnit"
                        [values$]="weightUnitValues$"
                        [required]="commodity.cargoGrossVolume !== undefined && commodity.cargoGrossVolume !== null"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="commodities[{{i}}].numberOfPackages">Number of Packages: </label>
            <input id="commodities[{{i}}].numberOfPackages"
                   name="commodities[{{i}}].numberOfPackages"
                   pInputText
                   [(ngModel)]="commodity.numberOfPackages"
                   pattern="^-?\d*$"
                   type="number">
            <!--
                   pattern="^\d*$"
                   min="0"
              -->
          </div>
          <div class="row">
            <label for="commodities[{{i}}].HSCode">HS Code: </label>
            <input id="commodities[{{i}}].HSCode"
                   name="commodities[{{i}}].HSCode"
                   pInputText
                   [(ngModel)]="commodity.HSCode"
                   type="text"
                   maxlength="10">
            <!-- pattern="^\S*$" -->
          </div>

          <div class="row">
            <label for="commodities[{{i}}].exportLicenseIssueDate">Export License Issue date: </label>
            <input id="commodities[{{i}}].exportLicenseIssueDate"
                   name="commodities[{{i}}].exportLicenseIssueDate"
                   pInputText
                   [(ngModel)]="commodity.exportLicenseIssueDate"
                   type="date">
          </div>


          <div class="row">
            <label for="commodities[{{i}}].exportLicenseExpiryDate">Export License Expiry date: </label>
            <input id="commodities[{{i}}].exportLicenseExpiryDate"
                   name="commodities[{{i}}].exportLicenseExpiryDate"
                   pInputText
                   [(ngModel)]="commodity.exportLicenseExpiryDate"
                   type="date">
          </div>

          <div class="row">
            <label for="commodities[{{i}}].remove">Remove commodity: </label>
            <button pButton
                    appDebounceClick
                    [disabled]="booking.commodities.length < 2"
                    id="commodities[{{i}}].remove"
                    class="p-button-danger"
                    [debounceTime]="200"
                    icon="pi pi-times"
                    (debounceClick)="removeCommodity(i)">
            </button>
          </div>
        </p-accordionTab>

        <p-button appDebounceClick
                  (debounceClick)="addCommodity()"
                  [debounceTime]="200"
                  iconPos="left"
                  class="p-button-secondary"
                  label="Add commodity">
        </p-button>
      </p-accordionTab>
      <p-accordionTab [disabled]="!booking" header="References ({{this.booking.references?.length ?? 0}}) [Optional]">
        <p-accordionTab *ngFor="let reference of this.booking.references; index as i"
                        [selected]="true"
                        header="{{!!reference.type ? reference.type : '[Missing type]'}} {{!!reference.value ? reference.value : '[Missing value]'}}">

          <div class="row">
            <label for="references[{{i}}].type">Reference type: </label>
            <p-dropdown [required]="true"
                        [(ngModel)]="reference.type"
                        id="references[{{i}}].type"
                        name="references[{{i}}].type"
                        [values$]="referenceTypeValues$"
                        appEnumDropDown>
            </p-dropdown>
          </div>
          <div class="row">
            <label for="references[{{i}}].value">Reference: </label>
            <input id="references[{{i}}].value"
                   name="references[{{i}}].value"
                   [(ngModel)]="reference.value"
                   [required]="true"
                   pInputText
                   type="text"
                   maxlength="100">
          </div>

          <div class="row">
            <label for="references[{{i}}].remove">Remove reference: </label>
            <button pButton
                    appDebounceClick
                    id="references[{{i}}].remove"
                    class="p-button-danger"
                    [debounceTime]="200"
                    icon="pi pi-times"
                    (debounceClick)="removeReference(i)">
            </button>
          </div>
        </p-accordionTab>

        <p-button appDebounceClick
                  (debounceClick)="addReference()"
                  [debounceTime]="200"
                  iconPos="left"
                  class="p-button-secondary"
                  label="Add reference">
        </p-button>
      </p-accordionTab>

      <p-accordionTab [disabled]="bookingForm.valid ?? true" header="Validation issues: {{bookingForm.valid ? 'No' : 'Yes'}}">
        <ul>
          <ng-container *ngFor="let name of allFormControls(bookingForm)">
            <li *ngIf="bookingForm.controls[name].errors as errors">{{name}}: {{errors | json}}</li>
          </ng-container>
        </ul>
      </p-accordionTab>
    </p-accordion>
    <div class="row">
      <p-button appDebounceClick (debounceClick)="submit()" [debounceTime]="200"
                [disabled]="submissionInProgress || !bookingForm.valid || (bookingForm.pristine ?? true)" icon="pi pi-save"
                label="{{isCreateMode ? 'Create' : 'Update/Amend'}}"
                iconPos="left">
      </p-button>
      <p-button label="Cancel {{carrierBookingRequestReference ? 'edit' : 'creation'}}"
                appDebounceClick
                [disabled]="submissionInProgress"
                (debounceClick)="cancel()"
                iconPos="left"
                class="p-button-secondary">
      </p-button>
      <p-progressSpinner *ngIf="submissionInProgress">
      </p-progressSpinner>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="hadLoadError">
  <p>Sorry, an error occurred while trying to load the data.  In some cases, refreshing may resolve the problem.</p>
</ng-container>

<ng-container *ngIf="!booking && !hadLoadError">
  <p-progressSpinner></p-progressSpinner>
</ng-container>

<p-toast key="GenericSuccessToast" position="bottom-right"></p-toast>
<p-toast key="GenericErrorToast" position="bottom-right"></p-toast>

<p-confirmDialog [transitionOptions]="'0ms'">
</p-confirmDialog>
