<div class="row">
  <label>How is the party defined? </label>
  <p-dropdown [ngModel]="partyType$ | async"
              [required]="required"
              [showClear]="allowUndefined || !required"
              [options]="['existing-party', 'new-party']"
              name="_partyDefined"
              placeholder="Choose a definition type (leave blank for undefined)"
              (ngModelChange)="partyType$.next($event)">
  </p-dropdown>
  <app-constraint-visualization-note></app-constraint-visualization-note>
</div>
<ng-container *ngIf="party$ | async as party">
  <ng-container *ngIf="isDocumentPartyReference(party)">

    <app-ui-vs-api-component [apiMode]="apiMode" [uiMode]="uiMode">
      <ng-template #apiMode>
        <div class="row">
          <label>Carrier's party reference: </label>
          <input name="carrierPartyReference"
                 nullValue
                 pInputText
                 [(ngModel)]="party.carrierPartyReference"
                 [required]="true"
                 placeholder="Carrier's reference for this party"
                 type="text"
                 pattern="^\S+$"
                 maxlength="100">
        </div>
      </ng-template>
      <ng-template #uiMode>
        <div class="field">
          <label>Please choose the relevant party: </label>
          <ng-container *ngIf="documentPartyReferenceChoices$ | async as choices; else loading">
            <p-dropdown [(ngModel)]="party.carrierPartyReference"
                        name="carrierPartyReference"
                        [showClear]="true"
                        [filter]=true
                        filterBy="name,city,country,leiCode"
                        optionLabel="name"
                        optionValue="carrierPartyReference"
                        placeholder="Please choose a party"
                        [options]="choices">
              <ng-template let-carrierPartyReferenceChoice pTemplate="item">
                <div class="document-party-reference-choice" *ngIf="carrierPartyReferenceChoice">
                  <div class="document-party-reference-choice__name">{{carrierPartyReferenceChoice.name}}</div>
                  <div class="document-party-reference-choice__location-name">{{carrierPartyReferenceChoice.city}} {{carrierPartyReferenceChoice.country}}</div>
                  <div class="document-party-reference-choice__code">{{carrierPartyReferenceChoice.leiCode}}</div>
                </div>
                <div class="document-party-reference-choice" *ngIf="!carrierPartyReferenceChoice">
                  <div class="document-party-reference-choice__name">(unset)</div>
                </div>
              </ng-template>
            </p-dropdown>
          </ng-container>
        </div>
      </ng-template>
      <ng-template #loading>
        <p-progressSpinner></p-progressSpinner>
      </ng-template>
    </app-ui-vs-api-component>


  </ng-container>
  <ng-container *ngIf="!isDocumentPartyReference(party)">
    <div class="row">
      <label>Legal Name: </label>
      <input name="legalName"
             nullValue
             pInputText
             [(ngModel)]="party.legalName"
             [required]="true"
             placeholder="Legal name for this party"
             type="text"
             pattern="^\S+(\s+\S+)*$"
             maxlength="100">
    </div>
    <app-edit-address [(address)]="party.address"
                      [forceAddress]="true"
                      [requiredFields]="{name: true, country: true}"
                      [required]="true">
    </app-edit-address>
    <ng-container ngModelGroup="displayedAddress" #displayedAddressListControl="ngModelGroup">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <app-validity-marker [controlStatus]="displayedAddressListControl">
          </app-validity-marker>
          Displayed Address [Optional]
        </ng-template>
        <app-edit-displayed-address [(displayedAddress)]="party.displayedAddress">
        </app-edit-displayed-address>
      </p-accordionTab>
    </ng-container>
    <div class="row">
      <label><em>Party Contact Details: </em></label>
      <p-tag styleClass="mr-2"
             icon="pi pi-info-circle"
             severity="info"
             pTooltip='There should have been an input here, which has been omitted for the sake of keeping the example simpler or smaller.'
             value="Omitted for brevity">
      </p-tag>
    </div>

    <fieldset *ngIf="party.identifyingCodes as identifyingCodes">
      <legend>Identifying codes</legend>
      <div class="row">
        <label>Legal Name: </label>
        <input name="identifyingCodes.carrierPartyReference"
               nullValue
               pInputText
               [(ngModel)]="identifyingCodes.carrierPartyReference"
               placeholder="Carrier's Party Reference"
               type="text"
               pattern="^\S+(\s+\S+)*$"
               maxlength="100">
        <p-tag styleClass="mr-2"
               icon="pi pi-info-circle"
               severity="info"
               pTooltip='The client would normally not fill this out in the original request. If they had it, they would use the "existing-party" option instead. However, the field is present for update requests (UC3/PUT), where they use the expanded version provided by the carrier.'
               value="Clarifying note">
        </p-tag>
      </div>

      <div class="row">
        <label>LEI Code: </label>
        <input name="identifyingCodes.leiCode"
               nullValue
               pInputText
               [(ngModel)]="identifyingCodes.leiCode"
               placeholder="Legal Entity Identifier (LEI) code"
               type="text"
               pattern="^[0-9A-Z]{18}[0-9]{2}$"
               minlength="20"
               maxlength="20">
      </div>

      <div class="row">
        <label><em>Tax references: </em></label>
        <p-tag styleClass="mr-2"
               icon="pi pi-info-circle"
               severity="info"
               pTooltip='There should have been an input here, which has been omitted for the sake of keeping the example simpler or smaller.'
               value="Omitted for brevity">
        </p-tag>
      </div>

      <div class="row">
        <label>EBL Platform Identifier: </label>
        <input name="identifyingCodes.eblPlatformIdentifier"
               nullValue
               pInputText
               [(ngModel)]="identifyingCodes.eblPlatformIdentifier"
               placeholder="some-local-id@some-ebl-platform.com"
               type="text"
               pattern="^\S+@\S+"
               maxlength="100">
      </div>
    </fieldset>
    <div class="row">
      <label>Is To Be Notified: </label>
      <p-inputSwitch [(ngModel)]="party.isToBeNotified"
                     [required]="true"
                     name="isToBeNotified">
      </p-inputSwitch>
    </div>
  </ng-container>
</ng-container>
