<ng-container *ngIf="commodity$ | async as commodity; else loading">
  <fieldset>
    <legend>Required commodity attributes</legend>

    <div class="row">
      <label>Commodity Type: </label>
      <input name="commodityType"
             nullValue
             pInputText
             [(ngModel)]="commodity.commodityType"
             [required]="true"
             type="text"
             pattern="^\S+(\s+\S+)*$"
             maxlength="550">
    </div>
    <div class="row">
      <label>Cargo Gross Weight: </label>
      <input name="cargoGrossWeight"
             class="p-inputtext p-element"
             [(ngModel)]="commodity.cargoGrossWeight"
             [required]="true"
             pattern="^(?:[1-9]\d*(?:[.]\d+)?|[0].\d*[1-9]\d*)$"
             [min]="0"
             type="number">
      <p-dropdown [required]="true"
                  [(ngModel)]="commodity.cargoGrossWeightUnit"
                  name="cargoGrossWeightUnit"
                  [values$]="weightUnits$"
                  appEnumDropDown>
      </p-dropdown>
    </div>
  </fieldset>
  <fieldset>
    <legend>Optional commodity attributes</legend>

    <div class="row">
      <label>Cargo Gross Volume: </label>
      <input name="cargoGrossVolume"
             class="p-inputtext p-element"
             [(ngModel)]="commodity.cargoGrossVolume"
             [required]="cargoCrossVolumeRequired"
             pattern="^(?:[1-9]\d*(?:[.]\d+)?|[0].\d*[1-9]\d*)$"
             min="0"
             type="number">
      <p-dropdown [(ngModel)]="commodity.cargoGrossVolumeUnit"
                  name="cargoGrossVolumeUnit"
                  [values$]="volumeUnits$"
                  [required]="cargoCrossVolumeRequired"
                  appEnumDropDown>
      </p-dropdown>
    </div>
    <div class="row">
      <label>Number of Packages: </label>
      <input name="numberOfPackages"
             class="p-inputtext p-element"
             [(ngModel)]="commodity.numberOfPackages"
             pattern="^\d*$"
             min="0"
             type="number">
    </div>
    <div class="row">
      <label>HS Code: </label>
      <input name="HSCode"
             pInputText
             [(ngModel)]="commodity.HSCode"
             type="text"
             pattern="^\d{6,10}$"
             minlength="6"
             maxlength="10">
    </div>

    <div class="row">
      <label>Export License Issue date: </label>
      <input name="exportLicenseIssueDate"
             pInputText
             [(ngModel)]="commodity.exportLicenseIssueDate"
             type="date">
    </div>


    <div class="row">
      <label>Export License Expiry date: </label>
      <input name="exportLicenseExpiryDate"
             pInputText
             [(ngModel)]="commodity.exportLicenseExpiryDate"
             type="date">
    </div>
  </fieldset>
  <p-accordion [multiple]="true">
    <ng-container ngModelGroup="requestedEquipment" #requestedEquipmentListControl="ngModelGroup">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <app-validity-marker [controlStatus]="requestedEquipmentListControl">
          </app-validity-marker>
          Requested Equipments ({{commodity.requestedEquipments?.length ?? 0}}) [Optional]
        </ng-template>
        <ng-container *ngIf="commodity.requestedEquipments as requestedEquipments">
          <ng-container *ngFor="let requestedEquipment of commodity.requestedEquipments; index as i"
                        ngModelGroup="requestedEquipment[{{i}}]" #requestedEquipmentControl="ngModelGroup">

            <p-accordionTab [(selected)]="requestedEquipmentSelected[i]">
              <ng-template pTemplate="header">
                <app-validity-marker [controlStatus]="requestedEquipmentControl">
                </app-validity-marker>
                {{!requestedEquipmentControl.valid ? '[INVALID] ' : ''}}{{requestedEquipment.units}} x {{!!requestedEquipment.ISOEquipmentCode ? requestedEquipment.ISOEquipmentCode : 'Missing ISO Equipment Code!' }}
                {{requestedEquipment.activeReeferSettings ? ' [Active Reefer]' : ''}}
                {{requestedEquipment.isShipperOwned ? '(Shipper provided/SOC)' : '(Carrier provided)'}}
                <button pButton
                        appDebounceClick
                        class="p-button-danger tab-header-discard-button"
                        [debounceTime]="200"
                        icon="pi pi-trash"
                        (debounceClick)="removeRequestedEquipment(i, requestedEquipmentControl)">
                </button>
              </ng-template>

              <app-edit-requested-equipment [(requestedEquipment)]="requestedEquipments[i]">
              </app-edit-requested-equipment>
            </p-accordionTab>
          </ng-container>
        </ng-container>

        <button appDebounceClick
                pButton
                (debounceClick)="addRequestedEquipment()"
                [debounceTime]="200"
                iconPos="left"
                icon="pi pi-plus"
                class="p-button-secondary"
                label="Add requested equipment">
        </button>
      </p-accordionTab>
    </ng-container>
  </p-accordion>
</ng-container>

<ng-template #loading>
  <p-progressSpinner></p-progressSpinner>
</ng-template>
