<fieldset>
  <legend>Location</legend>
  <div class="row">
    <label>Define location</label>
    <p-inputSwitch [ngModel]="hasValue"
                   name="hasValue"
                   *ngIf="!required"
                   (onChange)="onLocationSlideToggleChange()">
    </p-inputSwitch>
  </div>
  <ng-container *ngIf="hasValue && location as l">
    <div class="row">
      <label>Location Name: </label>
      <input type="text"
             [(ngModel)]="l.locationName"
             nullValue
             pInputText
             maxlength="100"
             (change)="emitChange()"
             (blur)="emitTouchedEvent()"
             [ngModelOptions]="{standalone: true}">
    </div>

    <div class="row" *ngIf="enableUNLocationCode || enableFacility">
      <label>UNLocationCode: </label>
      <input type="text"
             [(ngModel)]="l.UNLocationCode"
             nullValue
             pInputText
             maxlength="5"
             [required]="needsContent || needsFacility"
             (change)="emitChange()"
             (blur)="emitTouchedEvent()"
             [ngModelOptions]="{standalone: true}">
    </div>
    <ng-container *ngIf="enableFacility">
      <div class="row">
        <label>Facility Code: </label>
        <input type="text"
               [(ngModel)]="l.facilityCode"
               nullValue
               pInputText
               maxlength="6"
               [required]="needsContent"
               (change)="emitChange()"
               (blur)="emitTouchedEvent()"
               [ngModelOptions]="{standalone: true}">
      </div>
    </ng-container>
    <ng-container *ngIf="enableAddress">
      <div class="row">
        <label>Define Address</label>
        <p-inputSwitch [ngModel]="hasAddress"
                       (onChange)="onAddressSlideToggleChange()"
                       name="hasAddress"
                       [required]="needsContent">
        </p-inputSwitch>
      </div>

      <ng-container *ngIf="hasAddress && address as a">
        <fieldset>
          <legend>Address</legend>
          <div class="row">
            <label>Name: </label>
            <input type="text"
                   [(ngModel)]="a.name"
                   nullValue
                   pInputText
                   maxlength="100"
                   [required]="missingAddressContent"
                   (change)="emitChange()"
                   (blur)="emitTouchedEvent()"
                   [ngModelOptions]="{standalone: true}">
          </div>
          <div class="row">
            <label>Street, street nr. and floor: </label>
            <input type="text"
                   placeholder="Street"
                   [(ngModel)]="a.street"
                   nullValue
                   pInputText
                   maxlength="100"
                   [required]="missingAddressContent"
                   (change)="emitChange()"
                   (blur)="emitTouchedEvent()"
                   [ngModelOptions]="{standalone: true}">
            <input type="text"
                   placeholder="Street number"
                   [(ngModel)]="a.streetNumber"
                   nullValue
                   pInputText
                   maxlength="50"
                   [required]="missingAddressContent"
                   (change)="emitChange()"
                   (blur)="emitTouchedEvent()"
                   [ngModelOptions]="{standalone: true}">
            <input type="text"
                   placeholder="Floor"
                   [(ngModel)]="a.floor"
                   nullValue
                   pInputText
                   maxlength="50"
                   [required]="missingAddressContent"
                   (change)="emitChange()"
                   (blur)="emitTouchedEvent()"
                   [ngModelOptions]="{standalone: true}">
          </div>
          <div class="row">
            <label>Post code and city: </label>
            <input type="text"
                   placeholder="Post code"
                   [(ngModel)]="a.postCode"
                   nullValue
                   pInputText
                   maxlength="50"
                   [required]="missingAddressContent"
                   (change)="emitChange()"
                   (blur)="emitTouchedEvent()"
                   [ngModelOptions]="{standalone: true}">
            <input type="text"
                   placeholder="City"
                   [(ngModel)]="a.city"
                   nullValue
                   pInputText
                   maxlength="65"
                   [required]="missingAddressContent"
                   (change)="emitChange()"
                   (blur)="emitTouchedEvent()"
                   [ngModelOptions]="{standalone: true}">
          </div>
          <div class="row">
            <label>State (if applicable): </label>
            <input type="text"
                   placeholder="State"
                   [(ngModel)]="a.stateRegion"
                   nullValue
                   pInputText
                   maxlength="65"
                   [required]="missingAddressContent"
                   (change)="emitChange()"
                   (blur)="emitTouchedEvent()"
                   [ngModelOptions]="{standalone: true}">
          </div>
          <div class="row">
            <label>Country: </label>
            <input type="text"
                   placeholder="Country"
                   [(ngModel)]="a.country"
                   nullValue
                   pInputText
                   maxlength="75"
                   [required]="missingAddressContent"
                   (change)="emitChange()"
                   (blur)="emitTouchedEvent()"
                   [ngModelOptions]="{standalone: true}">
          </div>
        </fieldset>
      </ng-container>
    </ng-container>

  </ng-container>
    <div class="errors" *ngIf="this.controlDir.errors">
      <ng-container *ngFor="let key of errorKeys">
        <div *ngIf="controlDir.getError(key) as msg">
          {{msg}}
        </div>
      </ng-container>
    </div>
</fieldset>
