<fieldset>
  <legend>Location</legend>
  <div class="row">
    <label>Define location</label>
    <p-inputSwitch [ngModel]="hasValue"
                   name="hasValue"
                   *ngIf="!required"
                   (onChange)="onLocationSlideToggleChange()">
    </p-inputSwitch>
  </div>
  <ng-container *ngIf="hasValue && location as l">
    <div class="row">
      <label>Location Name: </label>
      <input type="text"
             name="locationName"
             [(ngModel)]="l.locationName"
             nullValue
             pInputText
             maxlength="100">
    </div>

    <app-edit-address [(address)]="l.address"
                      [required]="needsContent">
    </app-edit-address>

    <div class="row" *ngIf="enableUNLocationCode || enableFacility">
      <label>UNLocationCode: </label>
      <input type="text"
             name="UNLocationCode"
             [(ngModel)]="l.UNLocationCode"
             nullValue
             pInputText
             minlength="5"
             maxlength="5"
             placeholder="Hint: DEHAM"
             [required]="needsContent || needsFacility">
    </div>
    <ng-container *ngIf="enableFacility">
      <div class="row">
        <label>Facility Code: </label>
        <input type="text"
               name="facilityCode"
               [(ngModel)]="l.facilityCode"
               nullValue
               pInputText
               placeholder="Hint: EGH (SMDG) / EGHA (BIC) for DEHAM"
               minlength="3"
               [maxlength]="facilityCodeMaxLength"
               [required]="needsContent || needsFacility">
        <p-dropdown [required]="needsContent || needsFacility"
                    [(ngModel)]="l.facilityCodeListProvider"
                    name="facilityCodeListProvider"
                    [values$]="facilityCodeListProviderItems$"
                    [nullable]="true"
                    appEnumDropDown>
          <!-- We do not want this to set facilityCodeListProvider automatically
               because it is required because that forces a facility location
               until you clear the code list provider. Therefore, this code list
               provider dropdown is always nullable even when it is required
               to avoid a catch-22.
            -->
        </p-dropdown>
      </div>
    </ng-container>

  </ng-container>
</fieldset>
