<ng-container *ngIf="location != null">
  <ng-container *ngIf="location.locationName as locationName">
    <p>Location name: {{locationName}}</p>
  </ng-container>
  <ng-container *ngIf="location.address as address">
    <fieldset>
      <legend>Address</legend>
      <ul>
        <li *ngIf="address.name">{{address.name}}</li>
        <li *ngIf="address.street || address.streetNumber || address.floor">{{address.street}} {{address.streetNumber}} {{address.floor}}</li>
        <li *ngIf="address.postCode || address.city">{{address.postCode}} {{address.city}}</li>
        <li *ngIf="address.stateRegion">{{address.stateRegion}}</li>
        <li *ngIf="address.country">{{address.country}}</li>
      </ul>
    </fieldset>
  </ng-container>
  <ng-container *ngIf="location.UNLocationCode as UNLocationCode">
    <p>UNLocationCode: {{UNLocationCode}}</p>
  </ng-container>
</ng-container>
<ng-container *ngIf="!location">
  <p>No location provided.</p>
</ng-container>
